# All test are done with these specific libraries.
[Requirments]
Python: 		3.8.8 	# Base
Pytorch: 		1.10.1	# Pytorch for deep learning
Scikit-learn:	0.24.1	# Eval part: Confusion matrix and F1-score

[Otherinvolved]
Re
Argparse
random
Configparser